body, table, td {font-family:Verdana;font-size:10px;color:#333333;line-height:150%}
body {background-color:#f9f9f9}
a:link,a:visited {color:#663300;text-decoration:none}
a:hover {color:gray;text-decoration:none}